<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mn.dao.IntBuyCarDao">
	<insert id = "buyCarInfoFromCompany" parameterType = "org.mn.bean.IntentionBuyCar">
		insert into intention_buy_car(ibc_id, user_id, uci_id ,create_time) 
		values(
			#{buyCar.ibc_id},
			#{buyCar.user_id},
			#{buyCar.uci_id},
			#{buyCar.create_time}
		)
	</insert>
	
	<select id = "findIBCInfo" parameterType = "org.mn.bean.IntentionBuyCar" resultType = "org.mn.bean.IntentionBuyCar">
		select * from intention_buy_car where user_id = #{buyCar.user_id} and uci_id = #{buyCar.uci_id}
	</select>
	
	<select id = "findAllIbcPageInfo" parameterType = "java.lang.Integer" resultType = "org.mn.bean.IntentionBuyCar">
		select a.ibc_id, b.user_name, b.user_sex, b.user_phone, 
		c.ex_factory_price, c.present_price, d.vb_name as vb_name,
		 a.create_time from intention_buy_car a left join user b 
		 on a.user_id = b.user_id left join used_car_infermation c 
		 on a.uci_id = c.uci_id left join vehicle_brand d on c.vb_id = d.vb_id
		 limit ${currIndex}, ${pageSize}
	</select>
	
	<select id = "findAllIbcInfo" parameterType = "org.mn.bean.IntentionBuyCar" resultType = "org.mn.bean.IntentionBuyCar">
		select a.ibc_id, b.user_name, b.user_sex, b.user_phone, c.ex_factory_price, c.present_price, d.vb_name as vb_name, a.create_time from intention_buy_car a left join user b on a.user_id = b.user_id left join used_car_infermation c on a.uci_id = c.uci_id left join vehicle_brand d on c.vb_id = d.vb_id
	</select>
	
	
</mapper>