<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mn.dao.IntSellCarDao">
	<insert id = "sellCarToCompany" parameterType = "org.mn.bean.IntentionSellCar">
		insert into intention_sell_car(isc_id, user_id, create_time) 
		values(
			#{sellCar.isc_id},
			#{sellCar.user_id},
			#{sellCar.create_time}
		)
	</insert>
	
	<select id = "findSellCarInfo" parameterType = "org.mn.bean.IntentionSellCar" resultType = "org.mn.bean.IntentionSellCar">
		select * from intention_sell_car where user_id = #{sellCar.user_id} 
	</select>
	
	<select id = "findSellCarPageInfo" parameterType = "java.lang.Integer" resultType = "org.mn.bean.IntentionSellCar">
		select a.isc_id, b.user_name, b.user_sex, b.user_phone, a.create_time from intention_sell_car a LEFT JOIN user b on a.user_id = b.user_id limit ${currIndex}, ${pageSize} 
	</select>
	
	<select id = "findAllSellCarInfo" resultType = "org.mn.bean.IntentionSellCar">
		select a.isc_id, b.user_name, b.user_sex, b.user_phone, a.create_time from intention_sell_car a LEFT JOIN user b on a.user_id = b.user_id
	</select>
	
</mapper>