<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mn.dao.LPLocationDao">
	<!-- 查询所有城市信息 -->
    <select id="findAllLocationInfo" resultType="org.mn.bean.LicensePlateLocation">
        select lpl_id, city_name, create_time from license_plate_location     
	</select>
	
	<!-- 查询所有城市信息(分页) -->
    <select id="findAllLocationPageInfo" parameterType="java.lang.Integer" resultType="org.mn.bean.LicensePlateLocation">
        select lpl_id, city_name, create_time from license_plate_location limit ${currIndex}, ${pageSize}   
	</select>
</mapper>