<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mn.dao.UserDao">
    <!-- 登录验证 -->
    <select id="login" parameterType="java.lang.String" resultType="org.mn.bean.User">
        SELECT * FROM user WHERE user_name=#{user_name} and user_passwd = #{user_passwd}
    </select>
    <!-- 权限获取 -->
    <select id="perCheck" parameterType="java.lang.String" resultType="org.mn.bean.Permissions">
        SELECT jsp_name, per_name FROM permissions 
		where per_id in(select per_id from role_per where role_id in(SELECT role_id FROM user_role where user_id = #{user_id}))
	</select>
	<!-- 查询所有用户信息(分页) -->
    <select id="findAllUserPageInfo" parameterType="java.lang.Integer" resultType="org.mn.bean.User">
        select user_id, user_name, user_phone, user_sex from user order by create_time limit ${currIndex}, ${pageSize}   
	</select>
	<!-- 查询所有用户信息 -->
    <select id="findAllUserInfo" parameterType="java.lang.Integer" resultType="org.mn.bean.User">
        select user_id, user_name, user_phone, user_sex from user   
	</select>
	<!-- 查询所有用户信息 -->
    <update id="modifyPasswd" parameterType="java.lang.String">
        UPDATE user SET user_passwd = '${newPasswd}' where user_id = ${user_id}  
	</update>
	<!-- 后台添加用户或者用户注册 -->
	<insert id="registUser" parameterType="org.mn.bean.User">  
	    INSERT INTO user (user_id, user_name, user_sex, user_passwd, user_resource, user_phone, create_time)  
	    VALUES ('${user.user_id}', '${user.user_name}', ${user.user_sex}, '${user.user_passwd}', '${user.user_resource}', '${user.user_phone}', '${user.create_time}') 
	</insert> 
	
	<delete id="removeUser" parameterType="java.lang.String">
		delete from user where user_id = #{user_id}
	</delete>
</mapper>